.project
.classpath
.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/gradle.log
.settings/org.eclipse.jdt.core.prefs
build.gradle
CREDITS-fml.txt
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
forge-1.7.10-10.13.0.1180-changelog.txt
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/fileHashes.bin
.gradle/2.0/taskArtifacts/fileSnapshots.bin
.gradle/2.0/taskArtifacts/outputFileStates.bin
.gradle/2.0/taskArtifacts/taskArtifacts.bin
gradle/wrapper/gradle-wrapper.properties
eclipse/.metadata/.lock
bin/eclipse/.metadata/.lock
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
bin/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
bin/eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
bin/eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
bin/eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
bin/eclipse/.metadata/version.ini
bin/gradle/wrapper/gradle-wrapper.jar
bin/gradle/wrapper/gradle-wrapper.properties
bin/src/main/resources/mcmod.info
eclipse/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
bin/eclipse/.metadata/.log
bin/eclipse/.metadata/.mylyn/.taskListIndex/segments.gen
bin/eclipse/.metadata/.mylyn/.taskListIndex/segments_1
bin/eclipse/.metadata/.mylyn/repositories.xml.zip
bin/eclipse/.metadata/.mylyn/tasks.xml.zip
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
bin/eclipse/.metadata/.plugins/org.eclipse.team.cvs.core/.running
bin/eclipse/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
eclipse/.metadata/.log
eclipse/.metadata/.mylyn/.taskListIndex/segments.gen
eclipse/.metadata/.mylyn/.taskListIndex/segments_1
eclipse/.metadata/.mylyn/repositories.xml.zip
eclipse/.metadata/.mylyn/tasks.xml.zip
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
eclipse/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
eclipse/.metadata/.plugins/org.eclipse.team.cvs.core/.running
eclipse/.metadata/version.ini
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
eclipse/.metadata/.plugins/org.eclipse.core.resources/.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.syncinfo.snap
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
bin/eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
bin/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.snap
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.syncinfo.snap
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.markers.snap