.project
.classpath
.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/gradle.log
.settings/org.eclipse.jdt.core.prefs
build.gradle
CREDITS-fml.txt
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
forge-1.7.10-10.13.0.1180-changelog.txt
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/fileHashes.bin
.gradle/2.0/taskArtifacts/fileSnapshots.bin
.gradle/2.0/taskArtifacts/outputFileStates.bin
.gradle/2.0/taskArtifacts/taskArtifacts.bin
gradle/wrapper/gradle-wrapper.properties